  <div class="row">
    <div class="span12">
      <h2>Update profile</h2>
    </div>
  </div><!--/row-->
  <hr />
  <div class="row">
    <div class="span12">
      <%= render 'form' %>
    </div>
  </div>
