  <div class="row">
    <div class="span12">
      <h2>Welcome, <%= current_user.nickname %></h2>
      <h3>We need three more information to get you started.</h3>
    </div>
  </div><!--/row-->
  <hr />
  <div class="row">
    <div class="span12">
      <%= render 'signup_form' %>
    </div>
  </div>
