<div class="row">
  <div class="span12">
    <h1>404 page not found</h1>
    <hr/>
    <p>The page you requested does not exists.</p>
    <%= link_to "Go to Delight", root_path, :class => "btn btn-large" %></p>
  </div>
</div>
