<div class='well'>
    <h2>Delight adds OpenGL ES support</h2>
    <span class='muted'>June 8, 2012</span>
    <br>
    <br>
    <div class='row'>
      <div class='span8'>
      <p>
        We just launched Delight 2.1, which adds support for OpenGL ES apps. This means that you can now use Delight for usability testing of your OpenGL-based games on iOS. And if you're using a game development framework like Unity or cocos2d - we work with those too! Check out our <a href="/docs/unity">Unity</a> and <a href="/docs/cocos2d">cocos2d</a> integration guides for more information. To learn how to get Delight working with OpenGL ES apps in general, please visit our <a href="/docs/opengles">OpenGL ES Guide</a>.
      </p>
      <p>
        We've also added a new sample project, OpenGLSample, to our <a href="https://github.com/delightio/ios">GitHub repository</a>. Try it out to see our OpenGL screen capturing in action.
      </p>
    </div>
  </div>
</div>

<div class='well'>
    <h2>Delight is giving away $100 worth of credits!</h2>
    <span class='muted'>June 5, 2012</span>
    <br>
    <br>

    <div class='row'>
      <div class='span8'>
        <p>
          In celebration of our official launch, we are giving every new user <strong>100 free sessions.</strong> That's a $100 value! We are also <strong>doubling the credits</strong> of all our packages for a limited time only. Check out our <a href='/pricing'>Pricing</a> page for details.
          <br>
          <br>
          Sign up now to lock in your savings today.
        </p>
        <div class="row-fluid">
          <div class="span12">
            <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
            <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
          </div>
        </div>
        <br>
        <p>
          And don't forget to email us at <a href='mailto:opengl@delight.io'>opengl@delight.io</a>
          if you want to be the first in our OpenGL beta.
        </p>
      </div>
    </div>
</div>

<div class='well'>
    <h2>Metadata tagging and easy sharing with team</h2>
    <span class='muted'>May 29, 2012</span>
    <br>
    <br>

    <div class='row'>
      <div class='span8'>
        <p>
          We are excited to announce our latest update on <a href='http://delight.io'>Delight</a>. In addition to
          performance upgrade and better gesture visualization, we have also
          implemented the following highly requested features based on your feedback:
          <ol>
            <li>Invite your team members to view your recorded sessions</li>
            <li>Tag your sessions with properties and search them on our web dashboard</li>
          </ol>
        </p>
        <p>
          Our OpenGL path is also coming along. Email us at <a href='mailto:opengl@delight.io'>opengl@delight.io</a> if you want to be the first in our beta.
        </p>

        <p>
          If you know someone who can benefit from <a href='http://delight.io'>Delight</a>, this is the best time
          to <a href='http://delight.io'>sign up</a>. As a token of thanks to all our beta testers, you will receive
          a special discount when we announce our pricing next week.
        </p>
      </div>
    </div>
</div>