<div class='row'>

  <div class='span3'>
    <h2><span class='muted'>July 20, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Delight 2.3 with front camera recording and upload control</h2>
    <br>
    <p>We're excited to announce the release of Delight 2.3, which adds two new highly-requested features: camera recording and the ability to choose which recordings get uploaded.</p>
    <p>If you enable video annotation, you'll be able to capture video and audio from the front-facing camera. When viewing a recording, both the screen track and the camera track will play side-by-side. By seeing how your users' facial expressions change over time, you'll gain insight as to how they really feel while using your app. Note that to protect user privacy, we provide a confirmation dialog that users must consent to before being recorded.</p>
    <p>To control which sessions get uploaded, we've added a new 'uploadsAutomatically' property. This lets you make efficient use of your credits by choosing which sessions should get uploaded and which ones should get discarded. For example, you can set up Delight to record every session but never upload by default - just start Delight in the usual way and set uploadsAutomatically to false. Then, if the user performs an action that should trigger an upload (such as pressing a &quot;Report Issue&quot; button), set uploadsAutomatically to true. With this feature, you can record as much as you like, but only upload when you need to.</p><br>
    <iframe width="400" height="300" src="http://www.youtube.com/embed/aocSalvx5Tg" frameborder="0" allowfullscreen></iframe>
    <p>
      <a href="http://www.delight.io/api/Classes/Delight.html" target="_blank">Visit our API page to learn how to add these features to your app.</a>
      <br><br>
      <a href="https://twitter.com/delightio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @delightio</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </div>
</div>
<br><br>

<div class='row'>
  <div class='span3'>
    <h2><span class='muted'>July 12, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Supercharged Delight</h2>
    <br>
    <p>
      Performance is crucial to everything we do at Delight. After hearing feedback from our OpenGL ES users, we worked hard speeding up the capture performance.<br><br>
      Check out what our team have accomplished!
    </p>
    <iframe class='youtube-player' type='text/html' src="http://www.youtube.com/embed/2GdzEPp-s3Q?rel=0" width="400" height="300" frameborder="0" rel="0"></iframe>
    <p>
      <a href="/docs/opengles"> Visit our OpenGL ES guide to set it up Delight in your own game!</a>
      <br><br>
      <a href="https://twitter.com/delightio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @delightio</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </div>
</div>
<br><br>

<div class='row'>
  <div class='span3'>
    <h2><span class='muted'>July 11, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Monthly subscription plan on Delight</h2>
    <br>
    <p>
      We are introducing a new pricing structure.<br>
      For $200 a month, you can record an unlimited number of sessions up to 10 hours each month.
    </p>
    <p>
      <a href="/pricing"> Click here to subscribe to the new monthly plan.</a>
    </p>
  </div>
</div>
<br><br>

<div class='row'>
  <div class='span3'>
    <h2><span class='muted'>July 5, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Delight on TechCrunch</h2>
    <br>
    <p>
      <a href='http://twitter.com/ryanlawler'>Ryan Lawler</a> from TechCrunch wrote a <a href='http://techcrunch.com/2012/07/05/delight-io/''>great article</a> on us.
      <blockquote>Good developers are constantly trying to get feedback on the user experience and navigation of their apps, in an effort to improve them before launch. But few tools exist right now that allow them to do so, outside of just watching beta users over their shoulders.</blockquote>
    </p>
    <p>
      We were also delighted to receive so many great feedback including <a href='http://techcrunch.com/2012/07/05/delight-io/?fb_comment_id=fbc_10150906452181603_22319562_10150906564001603'>one</a> from <a href = 'http://twitter.com/mg'>Matt Galligan</a>
      <blockquote>This seems like it would be extremely valuable to app developers (including us at <a href='http://cir.ca'>Circa</a>).</blockquote>
    </p>
  </div>
</div>
<br><br>

<div class='row'>
  <div class='span3'>
    <h2><span class='muted'>June 8, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Delight adds OpenGL ES support</h2>
    <br>
    <p>
      We just launched Delight 2.1, which adds support for OpenGL ES apps. This means that you can now use Delight for usability testing of your OpenGL-based games on iOS. And if you're using a game development framework like Unity or cocos2d - we work with those too! Check out our <a href="/docs/unity">Unity</a> and <a href="/docs/cocos2d">cocos2d</a> integration guides for more information. To learn how to get Delight working with OpenGL ES apps in general, please visit our <a href="/docs/opengles">OpenGL ES Guide</a>.</p>
    </p>
    <p>
      We've also added a new sample project, OpenGLSample, to our <a href="https://github.com/delightio/ios">GitHub repository</a>. Try it out to see our OpenGL screen capturing in action.
    </p>
  </div>
</div>
<br><br>

<div class='row'>
  <div class='span3'>
    <h2><span class='muted'>May 29, 2012</span></h2>
  </div>

  <div class='span8'>
    <h2>Metadata tagging and easy sharing with team</h2>
    <br>
    <p>
      We are excited to announce our latest update on <a href='http://delight.io'>Delight</a>. In addition to
      performance upgrade and better gesture visualization, we have also
      implemented the following highly requested features based on your feedback:
      <ol>
        <li>Invite your team members to view your recorded sessions</li>
        <li>Tag your sessions with properties and search them on our web dashboard</li>
      </ol>
    </p>
    <p>
      Our OpenGL path is also coming along. Email us at <a href='mailto:opengl@delight.io'>opengl@delight.io</a> if you want to be the first in our beta.
    </p>

    <p>
      If you know someone who can benefit from <a href='http://delight.io'>Delight</a>, this is the best time
      to <a href='http://delight.io'>sign up</a>. As a token of thanks to all our beta testers, you will receive
      a special discount when we announce our pricing next week.
    </p>
  </div>
</div>