<div class='well'>
  blah
</div>

<div class='well'>
    <h2>Delight is giving away $100 worth of credits!</h2>
    <span class='muted'>June 5, 2012</span>
    <br>
    <br>

    <p>
      In celebration of our official launch, we are giving every new user <strong>100 free sessions.</strong><br>
      That's a $100 value! We are also <strong>doubling the credits</strong> of all our packages for a<br>
      limited time only. Check out our <a href='/pricing'>Pricing</a> page for details.<br>
      <br>
      Sign up now to lock in your savings today.
    </p>
    <div class="row-fluid">
      <div class="span12">
        <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
        <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
      </div>
    </div>
    <br>
    <p>
      And don't forget to email us at <a href='mailto:opengl@delight.io'>opengl@delight.io</a>
      if you want to be the first in our OpenGL beta.
    </p>
</div>

<div class='well'>
    <h2>Metadata tagging and easy sharing with team</h2>
    <span class='muted'>May 29, 2012</span>
    <br><br>

    <p>
      We are excited to announce our latest update on <a href='http://delight.io'>Delight</a>. In addition to<br>
      performance upgrade and better gesture visualization, we have also<br>
      implemented the following highly requested features based on your feedback:
      <ol>
        <li>Invite your team members to view your recorded sessions</li>
        <li>Tag your sessions with properties and search them on our web dashboard</li>
      </ol>
    </p>
    <p>
      Our OpenGL path is also coming along. Email us at <a href='mailto:opengl@delight.io'>opengl@delight.io</a><br>  if you want to be the first in our beta.
    </p>

    <p>
      If you know someone who can benefit from <a href='http://delight.io'>Delight</a>, this is the best time<br>
      to <a href='http://delight.io'>sign up</a>. As a token of thanks to all our beta testers, you will receive<br>
      a special discount when we announce our pricing next week.
    </p>
</div>