<h1>Integrating with cocos2d</h1>
<br>
<ol>
  <li>Follow steps 1-5 in the <a href="/docs/opengles">OpenGL ES Guide</a>.</li><br>
  <li>In your application delegate,<br><br>
    <code>#import &lt;DelightPrivate/Delight.h&gt;</code> and<br><br>
    put the following in the <code>applicationDidFinishLaunching:</code> method:
    <br><br>
    <code>
      [Delight startOpenGLWithAppToken:@"<strong>Your App Token</strong>"];
    </code>
  </li><br>
</ol>
