<h1>QuickStart Guide</h1>
<br>

<ol>
  <li>Create your Delight account and application.</li>
  <br>

  <li>Copy the app token.</li>
  <br>

  <li>Get the Delight framework from GitHub<br>
    <code>git clone git@github.com:delightio/ios.git</code>
  </li>
  <br>

  <li>Add <code>Delight.framework</code> to your target along with the following:
    <ul>
      <li type='a'>AVFoundation</li>
      <li type='a'>CoreGraphics</li>
      <li type='a'>CoreMedia</li>
      <li type='a'>CoreVideo</li>
      <li type='a'>OpenGLES</li>
      <li type='a'>QuartzCore</li>
      <li type='a'>SystemConfiguration</li>
    </ul>
  </li><br>

  <li>In your build settings, add <code>-ObjC</code> to "Other Linker Flags".</li><br>

  <li>In your application delegate,<br><br>
    <code>#import &lt;Delight/Delight.h&gt;</code> and<br><br>
    put the following in the <code>application:didFinishLaunchingWithOptions:</code>:
    <br><br>
    <code>
      [Delight startWithAppToken:@"<strong>Your App Token</strong>"]
    </code>
  </li>
</ol>

<br>
<h2>Please visit our <a href='/api/' target='_blank'> iOS API page</a> for more customizations like adding <a href='http://www.delight.io/api/Classes/Delight.html#task_Controlling%20Privacy' target='_blank'>private views</a> and <a href='http://www.delight.io/api/Classes/Delight.html#task_Adding%20Metadata' target='_blank'>properties</a> to your recorded sessions</h2>