<div class='row'>
  <div class='span10'>
    <h2>How much bandwidth will it cause my users?</h2>
    <p>We do not use more than 1 MB per minute of user session. We continue optimizing for the optimal recording settings. When you schedule recording sessions, you can decide if the sessions should be recorded on wifi connection only or not.</p>

    <h2>Do I have control over which sessions to record?</h2>
    <p>Yes you do. Our web dashboard allows you to pause and schedule recordings.</p>

    <h2>Does Delight support hybrid apps built using HTML5/JS?</h2>
    <p>We support PhoneGap but it requires an extra step in setup. Please visit our <a href="/docs/phonegap">PhoneGap Integration Guide</a> for more information.<br>
      Unfotnately at the moment, we do not support Trigger.io as we need access to a Xcode project file.
    </p>

    <h2>Some of my scheduled sessions didn't show up.</h2>
    <p>The sessions may have been started under Wifi connection or you may have paused the recordings.</p>
  </div>
</div>

<br>
<span style="font-size:large">
  We didn't answer your question?<br>
  Please <a href="mailto:info@delight.io">email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
</span>
