<div class='row'>
  <div class='span8'>
    <h2>How much bandwidth will it cause my users?</h2>
    <p>Currently, it’s about 1 MB per minute of user session. We continue optimizing for the optimal recording settings. By default, only user session started with wifi connectivity will be set to record.</p>

    <h2>Do I have control over which sessions to record?</h2>
    <p>Yes you do. Each time your application is run in the foreground, our framework pings our server to check if there is any scheduled recordings before recording.</p>

    <h2>Some of my scheduled recordings didn't show up.</h2>
    <p>Our framework only encodes the current session if it's started under wifi connection.</p>

    <h2>How much is your service?</h2>
    <p>We are gathering feedback and you can read about our preliminary pricing model at our <a href="pricing">Pricing</a> page.</p>
  </div>
</div>

<br><br>
<p>
  <strong>Sorry. We didn't answer your question? </strong> Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us.
</p>
