<div class='row'>
  <div class='span8 offset0'>
    <h1>Get started in 3 easy steps</h1>
    <br>
  </div>
</div>

<div class='row'>
  <div class='span4'>
  <h2>1. Integrate & Forget</h2>
    <li>2-line integration to get started</li>
    <li>Schedule sessions thru our dashboard</li>
    <li>No code change per UI iteration</li>
  </div>

  <div class='span4'>
  <h2>2. Privacy Control</h2>
    <li>Black out pixels on private UI views</li>
    <li>Auto hide key strokes for secure UITextField</li>
  </div>

  <div class='span4'>
  <h2>3. Easily Share & View</h2>
    <li>Email to invite team members</li>
    <li>View all recordings thru HTML5 web browsers</li>
  </div>
  <br>
</div>

<br>
<p>
  <strong>We don't have the feature you are looking for? </strong> We'd love to hear from you. Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us.
</p>
