<div class='row'>
  <div class='span8 offset0'>
    <h1>Get started in 3 easy steps</h1>
    <br>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4'>
    <h2>1. Integrate & Forget</h2>
    <li>2-line integration to get started</li>
    <li>Schedule sessions thru our dashboard</li>
    <li>Tag sessions with your own properties <span class="label label-info">New!</span></li>
    <li>No code change per UI iteration</li>
  </div>

  <div class='span4'>
    <h2>2. Privacy Control</h2>
    <li>Black out pixels on private UI views</li>
    <li>Auto privacy control for secure UITextField <span class="label label-info">New!</span></li>
  </div>

  <div class='span4'>
    <h2>3. Easily Share & View</h2>
    <li>Email to invite team members <span class="label label-info">New!</span></li>
    <li>View all recordings thru HTML5 web browsers</li>
  </div>
  <br>
</div>
<br>

<div class='row'>
  <div class='span8'>
    <h2>Take the first step.</h2>
      <div class="row-fluid">
        <div class="span12">
          <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
          <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
        </div>
      </div>
  </div>
</div>

<br>
<p>
  <strong>We don't have the feature you are looking for? </strong><br>
  We'd love to hear from you. Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us.
</p>
