<div class='row-fluid'>
  <div class='span3'>
    <h2>Integrate & Forget</h2>
  </div>

  <div class='span4'>
    <h3>One line integration</h3>
    <p>
      <a href='http://www.delight.io/api/Classes/Delight.html#//api/name/startWithAppToken:' target='_blank'><code>[Delight startWithAppToken:]</code></a> is all you need.
      Since we record the screen directly, there is no code change required as you iterate on UI design.
    </p>
  </div>

  <div class='span4'>
    <h3>Web dashboard</h3>
    <p>
      You control how many user sessions to be recorded thru our dashboard.
      You have the option to enable Delight on WiFi connection only.
    </p>
  </div>

</div>
<br>

<br>
<div class='row-fluid'>
  <div class='span3'>
    <h2>Visual Analytics <span class="label label-info">New!</span></h2>
  </div>

  <div class='span4'>
    <h3>Track events</h3>
    <p>
      <a href='http://www.delight.io/api/Classes/Delight.html#task_Tracking%20events' target='_blank'><code>trackEvent:info:</code></a> to tag application events along with event specific info with any recordings. No prior setup is necessary. Just send in any events and we will take care the rest.
    </p>
  </div>

  <div class='span4'>
    <h3>Optimize user flows</h3>
    <p>
      Use our dashboard to watch recordings of specific user flows and gain insights from actual user sessions.
    </p>
  </div>
</div>
<br>


<br>
<div class='row-fluid'>
  <div class='span3'>
    <h2>Privacy Control</h2>
  </div>

  <div class='span4'>
    <h3>Private views</h3>
    <p>
      <a href='http://www.delight.io/api/Classes/Delight.html#//api/name/registerPrivateView:description:' target='_blank'><code>registerPrivateView:description:</code></a> to add views with sensitive information to private views and no pixel nor gesture will be transmitted to our server.
      There is option to hide keyboard with <a href='http://www.delight.io/api/Classes/Delight.html#//api/name/setHidesKeyboardInRecording:' target='_blank'><code>setHidesKeyboardInRecording:</code></a>
    </p>
  </div>

  <div class='span4'>
    <h3>Secure UITextField</h3>
    <p>
      Delight iOS framework automaticallly set secure UITextField as private view and hide keystrokes.
    </p>
  </div>
</div>
<br>

<div class='row-fluid'>
  <div class='span3'>
    <h2>Easily Share & View</h2>
  </div>

  <div class='span4'>
    <h3>No special viewer</h3>
    <p>
      Recorded sessions can be viewed by HTML5 web browsers supporting H.264.
    </p>
  </div>

  <div class='span4'>
    <h3>Invite by email</h3>
    <p>
      Viewers have full access to recorded sessions.
    </p>
  </div>
</div>
<br>

<div class='row-fluid'>
  <div class='span3'>
    <h2>Usability Testing</h2>
  </div>

  <div class='span4'>
    <h3>Record user's emotion</h3>
    <p>
      Record audio and video from front facing camera and play back along with the screen recording. <a href="http://youtu.be/aocSalvx5Tg" target='_blank'>Sample <i class='icon-share'></i></a>
    </p>
  </div>
</div>
<br>

<div style="font-size:large">
  <p>
    <strong>We don't have the feature you are looking for? </strong><br>
    We'd love to hear from you. Please <a href="mailto:info@delight.io">email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
  </p>
</div>