<div class='row'>
  <div class='span8 offset0'>
    <h1>Get started in 3 easy steps</h1>
    <br>
  </div>
</div>

<div class='row'>
  <div class='span4'>
  <h2><a href="https://github.com/delightio/ios/blob/master/README.md#basic-setup" target="_blank">1. Integrate & Forget</a></h2>
    <li>2-line integration to get started</li>
    <li>Schedule sessions thru our dashboard</li>
    <li>No code change per UI iteration</li>
  </div>

  <div class='span4'>
  <h2><a href="https://github.com/delightio/ios/blob/master/README.md#private-views" target="_blank">2. Privacy Control</a></h2>
    <li>Black out pixels on private UI views</li>
    <li>Auto hide all key strokes from keyboard</li>
  </div>

  <div class='span4'>
  <h2>3. Easily Share & View</h2>
    <li>Email to invite team members</li>
    <li>View all recordings thru HTML5 web browsers</li>
  </div>
  <br>
</row>