<h1>Guides</h1><br>
<ul>
	<li><a href="/docs">QuickStart Guide</a></li><br>
	<li><a href="/guides/opengles">OpenGL ES QuickStart Guide</a></li><br>
	<li><a href="/guides/cocos2d">Integrating with cocos2d</a></li><br>
	<li><a href="/guides/phonegap">Integrating with PhoneGap</a></li><br>
	<li><a href="/guides/unity">Integrating with Unity</a></li><br>
</ul>