<div class="hero-unit">
  <h1 style='color: #333;'>Easiest way to capture real user interaction on your apps</h1><br>
  <div class='row-fluid'>
    <div class='span7'>
      <p>
        <strong>Delight</strong> enlightens developers and designers on how their users interact with their iOS applications. We seamlessly <strong>record your application screen</strong> and <strong>automatically capture all gestures</strong>. These recordings are then uploaded in the background to our server for viewing and sharing.
      </p>
      <br>
      <h2>Record your user flow now.</h2>
      <p>
        Our free plan gives you <%= pluralize(FreePlan.quota/1.hours,'hour') %> of recording per month.
      </p>
    </div>

    <div class='span5'>
      <iframe class='youtube-player' type='text/html' src="http://www.youtube.com/embed/uWv4iOF3-3Q?rel=0" width="320" height="240" frameborder="0" rel="0"></iframe>
    </div>
  </div>
  <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
  <span style="font-size:large">or&nbsp;</span>
  <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large btn-primary", :style=>"font-size:18px;margin-right:5px" %>
  <br>
  <br>
  <p>
    <strong>Questions?</strong> Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us or visit our <a href="faq">FAQ</a> page.
  </p>
</div>