<div class="container"
  <div class="inner">
    <h1>Watch user interacting with your mobile applications.</h1><br>
    <p><b>delight.io</b> is a framework that seamlessly captures and records all user interaction on your mobile applications. We provide a 100% unbiased view </p>
  </div>

  <hr class="soften">

  <div class='row'>
    <div class='span4'>
      <h3>Integrate once & forget</h3>
      <p>No code change is needed per UI iteration.</p>
    </div>

    <div class='span4'>
      <h3>Easy to view and shoare</h3>
      <p>No special video player is needed to view and share recordings</p>
    </div>

    <div class='span4'>
      <h3>Full privacy control</h3>
      <p>Private UI views. <br>
          Auto hide all keystrokes</p>
    </div>
  </div>
</div>