<div class="hero-unit">
  <div class="row">
    <div class='spam10'>
      <h1>Record & Playback User Interactions on Your iOS Apps</h1>
      <br>
    </div>
    <div class='span6'>
      <p>
        <strong>Delight</strong> enlightens developers and designers on how their users interact with their iOS applications. We seamlessly <strong>record your application screen</strong> and <strong>automatically capture all gestures</strong>. These recordings are then uploaded in the background to our server for viewing.
      </p>
      <br>
      <h2>Unlimited recordings during our beta!</h2>
        <div class="row">
          <div class="span12">
            <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
            <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
          </div>
        </div>
      <br><br>
      <p>
        Questions? Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us or visit our <a href="faq">FAQ</a> page.
      </p>
    </div>
    <div class='span4'>
      <iframe title="YouTube video player" src="http://www.youtube.com/embed/HoFGOZuKhDc?rel=0" width="400" height="300" frameborder="0" rel="0"></iframe>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#sample-video-btn").colorbox({
      transition: "none",
      width: "400",
      height: "550"
    });
  });
</script>