<div class="hero-unit">
  <div class="row-fluid">
    <h1 class="span10">Observe your real users</h1>
    <div class="span2 pull-right">
      <%= link_to "Sample Recording", sample_video_path, :id => 'sample-video-btn', :class => 'btn btn-primary btn-large btn-success' %>
    </div>
  </div>
  <p></p>
  <p>
  <b>delight.io</b> enlightens developers and designers on how their users interacted
  with their iOS applications. We seamlessly record your application screen
  and automatically capture all gestures. The recordings are then uploaded to
  our server for viewing and sharing.
  </p>
  <h2>First 10 recordings are on us!</h2>
  <div class="row">
    <div class="span12">
    <%= link_to raw('<i class="icon-github-sign icon-large"></i> Signup with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
    <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Signup in with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>
      Integrate Once
    </h2>
    <ul>
      <li>
        2-line integration
      </li>
      <li>
        No code change per UI iteration
      </li>
    </ul>
  </div>
  <div class="span4">
    <h2>
      Privacy Control
    </h2>
    <ul>
      <li>
        Private UI views
      </li>
      <li>
        Auto-hide all keystrokes
      </li>
    </ul>
  </div>
  <div class="span4">
    <h2>
      No Special Viewer
    </h2>
    <ul>
      <li>
        View recordings through your favorite web browser
      </li>
      <li>
        Securely share with your team
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <a href="https://twitter.com/delightio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @delightio</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#sample-video-btn").colorbox({
      transition: "none",
      width: "600",
      height: "360"
    });
  });
</script>



