<div class="hero-unit">
  <h1>
    Capture your mobile users
  </h1>
  <p>
    <b>delight.io</b> is a framework that seamlessly captures and records all user
    interaction on mobile apps. We provide a 100% unbiased view on how
    your apps are actually being used in real life.
  </p>
  <p class="offset4">
    <%= link_to "View sample video", sample_video_path, :id => 'sample-video-btn', :class => 'btn btn-primary btn-large btn-success' %>
  </p>
</div>
<div class="row">
  <div class="span4 offset4">
    <form class="form-inline">
      <h2>
        <b>Join our beta list:</b>
      </h2>
      <input type="email" placeholder="mobile@example.com" class="span3">
      <button type="submit" class="btn btn-primary">
        Sign Up
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>
      Integrate Once
    </h2>
    <ul>
      <li>
        Integrate once &#38; forget.
      </li>
      <li>
        No changes required for new iterations.
      </li>
    </ul>
  </div>
  <div class="span4">
    <h2>
      View &#38; Share
    </h2>
    <ul>
      <li>
        No special video player is required to view.
      </li>
      <li>
        Securely share with anyone you choose.
      </li>
    </ul>
  </div>
  <div class="span4">
    <h2>
      Full Privacy
    </h2>
    <ul>
      <li>
        Private UI views.
      </li>
      <li>
        Auto-hide all keystrokes.
      </li>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#sample-video-btn").colorbox({
      transition: "none",
      width: "600",
      height: "360"
    });
  });
</script>



