<h1>OpenGL ES Guide <sup><span class="badge badge-info">beta</span></sup></h1>
<br>
<div class='row-fluid' style="font-size:120%">
  <div class='span6'>

    <div class="alert alert-info">
      <strong>Important!</strong><br>DelightPrivate.framework is a special version of Delight that uses private iOS API calls to improve performance. It should therefore not be used in App Store builds.<br><br>
      Looking for production ready Delight for OpenGL ES?<br>
      <a href='mailto:opengl@delight.io?subject=Production ready OpenGL Delight framework'>Email us at opengl@delight.io</a> to be on the waiting list.
    </div>

    <ol>
      <li>Create your Delight account and application.</li>
      <br>

      <li>Copy the app token.</li>
      <br>

      <li>Get the Delight Private framework from GitHub<br>
        <code>git clone git@github.com:delightio/ios.git</code>
      </li>
      <br>

      <li>Add <code>DelightPrivate.framework</code> to your target along with:
        <ul>
          <li type='a'>AVFoundation</li>
          <li type='a'>CoreGraphics</li>
          <li type='a'>CoreMedia</li>
          <li type='a'>CoreVideo</li>
          <li type='a'>QuartzCore</li>
          <li type='a'>SystemConfiguration</li>
        </ul>
      </li><br>

      <li>In your build settings, add <code>-ObjC</code> to "Other Linker Flags".</li><br>

      <li>In your application delegate,<br><br>
        <code>#import &lt;DelightPrivate/Delight.h&gt;</code> and<br><br>
        put the following in the <code>application:didFinishLaunchingWithOptions:</code>:
        <br><br>
        <code>
          [Delight startWithAppToken:@"<strong>Your App Token</strong>"]
        </code>
      </li><br>
    </ol>
  </div>

  <div class='span6'>
    <iframe class='youtube-player' type='text/html' src="http://www.youtube.com/embed/2GdzEPp-s3Q?rel=0" width="400" height="300" frameborder="0" rel="0"></iframe>
    <p>
      Recording of Angry Bots from <a href='http://unity3d.com' target='_blank'>Unity Technologies</a>
    </p>
    <br>

    Please visit our <a href='http://www.delight.io/api/Classes/Delight.html' target='_blank'> API page <i class='icon-share'></i></a> for more customizations:
    <span style="font-size:medium">
      <ul>
        <li><a href='http://www.delight.io/api/Classes/Delight.html#task_Controlling%20Privacy' target='_blank'>Privacy control</a></li>
        <li><a href='http://www.delight.io/api/Classes/Delight.html#task_Adding%20Metadata' target='_blank'>Custom properties</a></li>
      </ul>
    </span>
    <br>

    <strong>Questions?</strong><br>
    <a href="mailto:info@delight.io"> Email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
  </div>
</div>