<h1>Integrating with PhoneGap</h1>
<br>
<ol>
  <li>Follow the instructions in the <a href="/docs">QuickStart Guide</a>.</li>
  <br>
  <li>In Xcode, edit Cordova.plist (under Supporting Files).</li><br>
  <li>Select the ExternalHosts item, and click the triangle to expand it. Then click the plus button twice to add two items to the array.</li><br>
  <li>Enter <code>delightweb.herokuapp.com</code> and <code>s3.amazonaws.com</code> as the values for the two items.</li><br>
  <li>Your property list should appear similar to the screenshot below:</li><br>
  <img src="/images/screenshot_phonegap.png" alt="Cordova.plist sample screenshot" />
</ol>
