<div class='row'>
  <div class='span8'>
    <h1>Preliminary Pricing Model</h1>
      We are still working on our pricing model right now and we would like to hear your <a href="mailto:info@delight.io">feedback</a>. It'd likely to be pay-as-you-go model where you can purchase individual session or in a bulk package. We are targetting a maximum of <strong>US $5 per user session</strong>.
  If you sign up now, you will be <em>guranteed</em> for this price for the next 12 months.
    <br>
    <br>
  </div>
</div>
<h2>Sign up now to lock in your price!</h2>
<div class="row">
  <div class="span12">
    <%= link_to raw('<i class="icon-github-sign icon-large"></i> Sign up with Github'), omniauth_authorize_path('user', 'github'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
    <%= link_to raw('<i class="icon-twitter-sign icon-large"></i> Sign up with Twitter'), omniauth_authorize_path('user', 'twitter'), :class => "btn btn-large", :style=>"font-size:18px;margin-right:5px" %>
  </div>
</div>

<br><br>
<p>
  <strong>Questions? </strong> Please <a href="mailto:info@delight.io">email</a> / <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> us.
</p>

