<div class='row'>
  <div class='span8'>
    <h1>Preliminary Pricing Model</h1>
      We are still working on our pricing model right now and we would like to hear your feedback via <a href="mailto:info@delight.io"> email</a> or tweet <a href="https://twitter.com/intent/tweet?screen_name=delightio">@delightio</a>.
    <br>
  </div>
</div>
