<h1>Pay as you go</h1>
<h2>First 10 recordings are on us!</h2>
<hr/>
<div class="row">
  <% PAYMENT_CONFIG['plans'].each do |payment| %>
  <a href=#" class="span3 btn" style="margin-bottom: 15px">
    <h3><%= payment['display'] %></h3>
    <br/>
    <p>
    <span style="font-size:xx-large">$<%= payment['price'] %></span> per
    <br/>
    <%= payment['credit'] %> recordings
    </p>
  </a>
  <% end %>
</div>
<div class="row">
  <div class="span12">
    <div class="alert alert-info">
      * All transaction in USD and we accept common credit cards
    </div>
  </div>
</div>
