<div class="row">
  <div class="span12">
    <h1>
      <div style="font-size:180%">
        Get insights for $10 an hour.
      </div>
    </h1>
    <br>
    <h1>
      <div style="font-size:180%">
        100% satisfaction guarantee.
      </div>
    </h1>
    <br>
    <br>
  </div>
</div>
<br>
<span style="font-size:large">
  Select your monthly plan or try us with our free plan:
</span>
<br>
<br>
<div class="row-fluid" align="center">
  <% SubscriptionPlans.reverse_each do |plan| %>
    <div class="span3">
      <a href="/subscriptions/new?plan_id=<%= plan.id %>" class="btn" style="width: 80%; margin-bottom: 15px">
        <br>
        <span style="font-size:150%;font-style:italic"><%= plan.name %></span>
        <br><br><br>
        <p>
          <span style="font-size:400%">$<%= plan.price %></span>
          <span style="font-size:large">
            <br>
            monthly<br><br>
            for <strong><%= plan.quota/1.hours %> hours<br>of recordings</strong>
          </span>
        </p>
      </a>
    </div>
  <% end %>
</div>
<br>

<div class="row-fluid">
  <div class="span12">
    <span style="font-size:large">
      <strong>Questions?</strong> <a href="mailto:pricing@delight.io"> Email</a>, <a href="https://twitter.com/intent/tweet?screen_name=delightio">tweet</a> or call us anytime at <strong>+1 (415) 413-7425</strong>.
    </span>
    <br><br>
    <div class="">
      <ul>
        <li>All plans come with:
          <ul>
            <li>full set of <a href="/features" target='_blank'>features <i class='icon-share'></i></a></li>
            <li>unlimited apps</li>
            <li>unlimited filters</li>
            <li>unlimited team members</li>
          </ul>
        </li>
        <li>All transaction are in USD and we accept all common credit cards.</li>
        <li>For refund, please email us at <a href="mailto:pricing@delight.io">pricing@delight.io</a>.</li>
      </ul>
    </div>
  </div>
</div>