<div class="container" style="text-align:center">
  <%= render :partial => "shared/error_message" %>

<div class="row">
  <div class="span12">
    <h2>Invite viewer</h2>
  </div>
</div>
<hr />
<%= render 'form' %>

</div>
