# If you have no config/secret.rb file, please do the following:
#  1) copy this file to config/secret.rb (i.e. cp config/secret.sample.rb config/secret.rb)
#  2) ask for the credentials and fill in to the secret.rb file
#
# Note that the following ENV variables should be set in heroku separatedly as the config/secret.rb is gitignored!

ENV['REDISTOGO_URL'] = 'redis://localhost:6379/3'
if Rails.env.test?
  ENV['REDISTOGO_URL'] = 'redis://localhost:6379/5'
  puts "Using test Redis: #{ENV['REDISTOGO_URL']}"
end
ENV['AWS_ACCESS_KEY_ID'] = 'get your own'
ENV['AWS_SECRET_ACCESS_KEY'] = 'get your own'
ENV['S3_UPLOAD_BUCKET'] = 'delight_upload.yourusername'
ENV['MAILGUN_USERNAME'] = 'get your own at http://mailgun.net'
ENV['MAILGUN_PASSWORD'] = 'get your own at http://mailgun.net'