// Place all the styles related to the AppSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

$session-view-margin: 20px;
.app-session {
	margin: { bottom:10px; right:10px; }
	.thumbnail {
		width: 200px;
		height:200px;
		position: relative;
		display:block;
		padding:0;
		margin:0;
		@include border-radius(0);
	}
	.thumbnail-wrapper {
		text-align:center;
		width:100%;
		height:100%;
		@include box-sizing(border-box);
	}
	li { list-style:none; }
	.app-session-info, .thumbnail-wrapper, .app-session-ops {
		position:absolute;
		top:0;
		left:0;

	}
	.app-session-ops {
		.session-fav { display:inline-block; margin: 0.4em; }
		.session-fav i { font-size: 180%; color: #FFD700; text-shadow: 0 0 1px rgba(0,0,0,0.4); }
	}
	.app-session-info {
		right:0;
		left:auto;
		display:inline-block;
	}
	.session-time {
		background: rgba( 255,255, 255, 0.75);
		border-radius: 5px;
		display: inline-block;
		padding:0.2em;
		color: #333;
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
		text-shadow: 1px 1px 1px #ccc;
		margin:0.4em;
	}
	ul.app-session-meta { 
		margin: 0 auto; 
		position:absolute;
		bottom:0;
		background: rgba(0,0,0,0.8);
		color: #fff;
		width:100%;
		display:block;
		padding:4px;
		@include box-sizing(border-box);
		// visibility: hidden;
		opacity: 0;
	}

	img.sc-thumbnail { margin: 0 auto; max-width:200px; max-height:200px; }

	&:hover {
		ul.app-session-meta {
			// visibility: visible;
			opacity:1;
			@include transition(all 0.5s ease)
		}
	}
}
.app-session-view {
	.nav { margin-bottom: 0.5em; }
	.nav a { 
		color: rgb(3, 174, 255); 
		text-shadow: 1px 1px rgba(255,255,255, 0.4);
		padding: 0.5em 0.8em;
		margin: 0.1em 0.4em;
		&:hover, &:active {
			text-shadow: 1px 1px #ccc;
		}
	 }
	.nav .active a { 
		color: #fff; 
		text-shadow: 1px 0 0 rgba( 0,0,0,0.3); 
	}
	.video-container {
		margin-top: $session-view-margin;
	}
	.session-meta {
		margin-top: $session-view-margin;
		.meta-entity { font-weight: bold; }
	}
	.popover-content {
		padding-top: 0;
		padding-bottom: 0;
		table { margin-bottom: 5px; }
	}

}

#app-session-video, .app-session .thumbnail {
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d));
	background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%);
	background: -o-linear-gradient(top,  #000000 0%,#45484d 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%);
	background: linear-gradient(to bottom,  #000000 0%,#45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );
}

.app-nav {
	line-height: 36px;
	height:36px;
	overflow:hidden;
	text-align:right;
}
.sidebar { 
	.sidebar-inner {
		width: 80%;
	}
	.dashboard {
		margin-bottom: 20px;
	}
	.nav-list {
		li > a {
			background: rgb(255,255,255);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
			padding: 0.4em 0.3em;
			border: { 
				bottom: 1px solid #ccc; 
			}
		}
		box-shadow: 0px 1px 4px 1px #cccccc;
	}
	.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
		color: #0088cc;
		border-left: 5px solid #0088cc;
	}
	.badge { line-height:1.6; }
} 
.nav-dropdown { 
	& > .dropdown-menu {
		display: block;
		position: static;
		width: 100%;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		& > li {
			padding: 5px 0;
			background: rgb(255,255,255);
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
		}
		& > li > a, & > li > span {
			padding-left: 15px;
			position:relative;
			.badge {
				position:absolute;
				right: 20px;
			}
		}
		& > .active > a, 
		& > .active > a:hover, 
		& > .active > a:focus {
			color: #0088cc;
			border-left: 5px solid #0081c2;
			background: transparent;
			padding-left: 10px;
		}

		.nav-header {
			padding-left: 15px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ddd;
			background: rgb(147,147,147);
			color: #111;
			font-size: 95%;
			background: rgb(251,251,251);
			background: -moz-linear-gradient(top,  rgba(251,251,251,1) 0%, rgba(242,242,242,1) 4%, rgba(242,242,242,1) 9%, rgba(233,233,233,1) 43%, rgba(233,233,233,1) 48%, rgba(228,228,228,1) 55%, rgba(228,228,228,1) 66%, rgba(220,220,220,1) 75%, rgba(213,213,213,1) 85%, rgba(203,203,203,1) 95%, rgba(200,200,200,1) 96%, rgba(173,173,173,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(4%,rgba(242,242,242,1)), color-stop(9%,rgba(242,242,242,1)), color-stop(43%,rgba(233,233,233,1)), color-stop(48%,rgba(233,233,233,1)), color-stop(55%,rgba(228,228,228,1)), color-stop(66%,rgba(228,228,228,1)), color-stop(75%,rgba(220,220,220,1)), color-stop(85%,rgba(213,213,213,1)), color-stop(95%,rgba(203,203,203,1)), color-stop(96%,rgba(200,200,200,1)), color-stop(100%,rgba(173,173,173,1)));
			background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(242,242,242,1) 4%,rgba(242,242,242,1) 9%,rgba(233,233,233,1) 43%,rgba(233,233,233,1) 48%,rgba(228,228,228,1) 55%,rgba(228,228,228,1) 66%,rgba(220,220,220,1) 75%,rgba(213,213,213,1) 85%,rgba(203,203,203,1) 95%,rgba(200,200,200,1) 96%,rgba(173,173,173,1) 100%);
			background: -o-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(242,242,242,1) 4%,rgba(242,242,242,1) 9%,rgba(233,233,233,1) 43%,rgba(233,233,233,1) 48%,rgba(228,228,228,1) 55%,rgba(228,228,228,1) 66%,rgba(220,220,220,1) 75%,rgba(213,213,213,1) 85%,rgba(203,203,203,1) 95%,rgba(200,200,200,1) 96%,rgba(173,173,173,1) 100%);
			background: -ms-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(242,242,242,1) 4%,rgba(242,242,242,1) 9%,rgba(233,233,233,1) 43%,rgba(233,233,233,1) 48%,rgba(228,228,228,1) 55%,rgba(228,228,228,1) 66%,rgba(220,220,220,1) 75%,rgba(213,213,213,1) 85%,rgba(203,203,203,1) 95%,rgba(200,200,200,1) 96%,rgba(173,173,173,1) 100%);
			background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(242,242,242,1) 4%,rgba(242,242,242,1) 9%,rgba(233,233,233,1) 43%,rgba(233,233,233,1) 48%,rgba(228,228,228,1) 55%,rgba(228,228,228,1) 66%,rgba(220,220,220,1) 75%,rgba(213,213,213,1) 85%,rgba(203,203,203,1) 95%,rgba(200,200,200,1) 96%,rgba(173,173,173,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#adadad',GradientType=0 );

		}
	}

	margin-bottom: 20px;
}

.dashboard {
	#session-recorder {
		overflow: hidden;
		&:hover {
			cursor:pointer;
		}
		&.idle { //nothing recoding, show start
			#session-recorder-start-info, #session-recorder-start { display: block; }
			#session-recorder-stop-info, #session-recorder-stop { display: none; }

		}
		&.recording { //recording in progress, show stop
			#session-recorder-start-info, #session-recorder-start { display: none; }
			#session-recorder-stop-info, #session-recorder-stop { display: block; }
		}
	}
	#session-recorder-info {
		width: 105px;
		margin-left: 15px;
		padding-top:15px;
		max-height: 80px;
		float: left;
		.action {
			font-size: 200%;
			font-weight: bold;
			text-transform: uppercase;
			color: #000;
			text-shadow: 1px 2px 2px #ccc;
		}
	}
	#session-recorder-btn {
		width: 80px;
		float: right;
		margin-right: 10px;
	}

}
	.round-btn-wrapper { position:relative; min-height: 80px}

	.round-btn-outer {
		// content: "";
		position: absolute;
		// z-inde x:1;
		// display: inline-block;
		border-radius: 40px;
		width: 80px;
		height: 80px;
		// margin: -20px 0 0 -20px;
		background: -moz-linear-gradient(top,  rgba(119,119,119,0.4) 0%, rgba(127,127,127,0.1) 48%, rgba(221,221,221,0.1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,0.4)), color-stop(48%,rgba(127,127,127,0.1)), color-stop(100%,rgba(221,221,221,0.1)));
		background: -webkit-linear-gradient(top,  rgba(119,119,119,0.4) 0%,rgba(127,127,127,0.1) 48%,rgba(221,221,221,0.1) 100%);
		background: -o-linear-gradient(top,  rgba(119,119,119,0.4) 0%,rgba(127,127,127,0.1) 48%,rgba(221,221,221,0.1) 100%);
		background: -ms-linear-gradient(top,  rgba(119,119,119,0.4) 0%,rgba(127,127,127,0.1) 48%,rgba(221,221,221,0.1) 100%);
		background: linear-gradient(to bottom,  rgba(119,119,119,0.4) 0%,rgba(127,127,127,0.1) 48%,rgba(221,221,221,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80777777', endColorstr='#1adddddd',GradientType=0 );
	/*	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
*/
	}
	.round-btn {
		// display: inline-block;
		// z-index:10;
		margin: 12px;
		position: absolute;
		padding: 2px;
		border-radius: 50px;
		width: 50px;
		height: 50px;
		background-color: #fff;
		box-shadow: rgba(255,255,255,.8) 0 3px 2px, rgba(0,0,0,.4) 0 -1px 2px;
		text-align: left; /*Fix for Chrome/FF*/
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #cccccc;
		border-color: rgba(0, 0, 0, 0.1);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		*zoom: 1;

		&:hover, &:active {
			background: rgb(245,245,245);
			background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );

		}
		.control-btn {
			font-size: 2em;
			line-height: 46px;
			text-align: center;
			display: inline-block;
			width: 100%;
		}
	}
	.icons-link {
		color: #999;
		&:hover { 
			text-decoration: none; 
			box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
		}
		.dark-theme & {
			color: #f5f5f5;
			&:hover {
				color: #fff;
				box-shadow: 0 0 1px 1px rgba(255,255,255,0.3);
			}
		}
	}

	.dark-theme .popover {
		&, & h2, & h3  {

			color: #222;	
		}
	}