<%= simple_form_for(@app, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @app.errors.any? %>
		<div class="alert alert-error fade in" data-alert="alert">
		  <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:
    </div>
  <% end %>

  <%= f.input :name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary', :value => 'Save' %>
  </div>
<% end %>
