<div class="container" style="text-align:center">
<% if @app %>
  <h1 style="margin-top: 10px">Setup for '<%= @app.name %>'</h1>
  <hr/>
  <h3>App Token</h3>
  <code><%= @app.token %></code>
  <br><br>
  <h3>Delight on Github</h3>
  <code>git clone git://github.com/delightio/ios.git</code>
  <br><br>
  <% if @app.emails.count > 1 %>
  <h3>Current viewers</h3>
  <%= @app.emails.join(", ") %>
  <% end %>
  <br><br>
  <%= link_to "Invite team members", new_invitation_path(:app_id => @app.id), :class => "btn btn-large", :id => "app-show-invite-viewer" %>
<% end %>
</div>
