<div class="container" style="text-align:center">
<% if @app %>
  <h1 style="margin-top: 10px">Setting up for <%= @app.name %></h1>
  <hr/>
  <div class="row">
    <h3>App Token: <%= @app.token %></h3>
    <br>
  </div>
  <div class="row" style="margin-top: 10px">
    <h3>Get Delight.io Framework from Github:</h3>
    <div class="span12">
      <code>git clone git@github.com:delightio/ios.git</code>
      <br>
      <br>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <h3>Follow tutorial on Documentation</h3>
    <div class="span12">
      <%= link_to "Open Documentation in new window", "https://github.com/delightio/ios/blob/master/README.md", :target => "_blank", :class => "btn btn-large" %>
    </div>
  </div>
<% end %>
</div>
