#funnel-edit-link {
  float: right;
}

#funnel-list {
  position: relative;

  li {
    margin-bottom: 10px;
  }

  .funnel-link {
    float: left;
    width: 175px;
  }

  nav {
    position: absolute;
    right: 10px;
  }
}

.clear {
  clear: both;
}