#funnel-edit-link {
  float: right;
}

#funnel-list {
/*
  position: relative;

  li {
    margin-bottom: 10px;
  }

  .funnel-link {
    float: left;
    width: 175px;
  }

  nav {
    position: absolute;
  }
  */
}

.clear {
  clear: both;
}

.funnel-form {
  #event-list {
    span {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;

      label {
        display: inline;
/*        margin-left: 10px;*/
      }
    }
  }
}