<div class="container" style="text-align:center">
  <br>
  <h1>Available credits: <span id="remaining-credits"><%= @account.remaining_credits %></span></h1>
  <hr/>

  <%= render :partial => 'accounts/add_credit', :locals => { :account => @account, :plan => @plan }  %>
</div>
